@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);

.navbar-default .navbar-brand {
	color: #3964C3;
	font-family: 'Averia Sans Libre';
	float: left;
	height: 80px;
}
.navbar .nav {
	display: inline;
	float: right;
}

.location-modal {
	display: inline;
	width: 80%
}
.dropdown-settings {
	position: relative;
	top: -50px;
}
.form-group {
	width: 80%;
}
.top {
	margin-bottom: 10px;
}
.modal-body {
    max-height: 800px;
    height: 150px;
}
.modal.fade {
	margin-top: 15%;
}
.img {
	float: left;
}
.header-color {
	background-color: #4B0081;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-default {
	background-color: #4B0081;
}
#slide-panel {
    width:300px;
    height:300px;
    padding:10px;
    float: right;
    background:#eee;
    margin-right:-300px;
    position: absolute;
    top: 0;
    right: 0;
}
#opener {
	float: left;
	margin: -10px 0px 0px -96px;
	border-radius: 0;
	padding: 29px 36px;
}
#map-canvas {
	margin-top: 80px;
}
.search {
	width: 75%
}