@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);

.navbar-default .navbar-brand {
	color: #3964C3;
	font-family: 'Averia Sans Libre';
}
.navbar .nav {
	display: inline;
	float: right;
}

.location-modal {
	display: inline;
	width: 80%
}
.dropdown-settings {
	position: relative;
	top: -50px;
}
.form-group {
	width: 80%;
}
.top {
	margin-bottom: 10px;
}
.modal-body {
    max-height: 800px;
    height: 150px;
}
.modal.fade {
	margin-top: 15%;
}
.img {
	height: 20%;
}
.header-color {
	background-color: #4B0081;
}
.navbar {
	margin-bottom: 0px;
}
.navbar-default .navbar-nav a.dropdown-toggle {
	color: #ffffff;
	background-color: #4B0081;
}
.navbar-default .navbar-nav a:hover.dropdown-toggle {
	color: #CFD0D2;
}
.navbar-default .navbar-nav a.open.dropdown-toggle {
	color: #ffffff;
	background-color: #4B0081;
}